{% extends 'base_home.html' %}
{% load static %}
<!doctype html>
<html lang='ja'>
<head>
  <meta charset='utf-8'>
  {% block title %}<title>セッション | ホーム</title>{% endblock %}
  {% block head %}
  <link rel='stylesheet' type='text/css' href="{% static 'css/session_home.css' %}" />
  <script type="text/javascript" src="{% static 'js/session_home.js' %}"></script>
  {% endblock %}
</head>


<body>

  {% block header %}
    <a href='#' class='header_name'>Session</a>
  {% endblock %}

  {% block content %}

  <p>Session Home</p>

  <div id='session_action_container'>
    {% if user.is_authenticated %}
    <a href='#' id='create_session_anchor'>セッション作成</a>
    {% endif %}
  </div>


  {% for session in session_list %}
  <a href='{% url "session:session_top" session.session_id %}'>{{session.session_name}}</a>
  {% endfor %}

  <p>登録ルーム</p>
  <p>登録講義</p>


  <div id='select_create_session_type_container_bg'>
    <ul id='select_create_session_type_container'>
      <li><a href='#'>講義セッション</a><p>※主に講義・ゼミ用のセッションです。</p></li>
      <li style='border-top:1px solid;border-bottom: 1px solid; border-color: #A5A5A5;'><a href='#'>永久セッション</a><p>※主にサークル用のセッションです</p></li>
      <li><a href='#'>トークセッション</a><p>※自由なセッションです</p></li>
    </ul>
  </div>

  {% endblock %}
</body>
</html>
